<!DOCTYPE html>
<html>
<head>
  <title>Canvas interactor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "canvas_interactor/application", media: "all" %>
  <%= javascript_include_tag "canvas_interactor/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
